.txtAligner div{
    display: flex;
    align-items: center;
}
.txtAligner div span{
}

.appStickyBar{
    padding: 21px;
    z-index: 500 !important;
}

.root{
    display: flex;
    justify-content: center;
}
.wrapper {
    background-size: cover;
    background-position: center;
    background-image: url("./Images/басуха.jpg");
}

.background {
    min-height: 50vh;
    position: relative;
}
.name {
    width: max-content;
    padding: 1rem;
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 20px;
}

.button {
    position: absolute;
    bottom: 0;
}

.mail {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 10px;
    margin: 25px;
    right: 0;
}
.avatar {
    position: absolute;
    left:50%; top: 50%;
    z-index: 999;
    margin-left: -200px;
    margin-top: -200px;
}

.circle{
    border: white solid 5px ;
}
.wrapper2{
    padding: 1vh;
}
.large{
    width: 400px !important;
    height: 400px !important;
}
@media screen and (max-width: 992px){
    .wrapper {
        background-size: cover;
        background-position: center;
        background-image: url("./Images/басуха.jpg");
    }

    .background {
        min-height: 50vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .nameBox{
        display: flex;
        justify-content: center;
    }
    .name {
        justify-content: center;
        width: max-content;
        background-color: rgba(0, 0, 255, 0.1);
        border-radius: 20px;
    }

    .button {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .mail {
        position: relative;
        background-color: rgba(0, 0, 255, 0.1);
        border-radius: 10px;
        margin: 10px;
        display: flex;
        justify-content: center;
    }

    .avatar {
        position: absolute;
        left:50%; top: 100%;
        z-index: 999;
        margin-left: -80px;
        margin-top: -80px;
    }
    .circle{
        border: white solid 5px ;
    }
    .wrapper2{
        padding: 1vh;
    }
    .large{
        width: 160px !important;
        height: 160px !important;
    }

    .appStickyBar{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 16px;
        z-index: 500!important;
    }
}